Q1) What are data structures, and why are they important
Answer: There are multiple types of data structures in python which know for multiple uses, Data Structures are well organized and easy acceceble in python. using Strings, tuple, sets, dictionaries we can access purticulat data in organize manner.


Q2) Explain the difference between mutable and immutable data types with examples
Answer: Mutable data are those type of data which we can assigned a new value add new data in it or do modification if we want to do for ex. we can append list. Immutable data type are tuples which we can not modified or change its data accprding to our need for ex. Tuple can not modified or append data.


Q3) What are the main differences between lists and tuples in Python
Answer: List have my_list [] this syntax to show list, and tuple have my_tuple ()this, also we can change or rearrange list but tuple do'nt allow to do changes in its structure.


Q4) Describe how dictionaries store data
Answer: Dictionaries does not store data like list, Dictionaries store data in unorderd manner and they have specific "key name" and there "Value". Every key name has a value in dictionaries.


Q5) Why might you use a set instead of a list in Python
Answere: When we want to find unique items in data we use sets, cause set have unique unorderd and data storage.


Q6) What is a string in Python, and how is it different from a list
Answere: Strings are denoted by " " this, it's stored data in memory block which can acceceble by its index in unchangeble order, strings are consider to use when we want to give a sentence or word as data, while list have multiple type of values it can be string, integer, boolean value or float.


Q7) How do tuples ensure data integrity in Python
Answer: Tuples are the data structure which we can not append or change or modifie, and because of that data we can access but can not change it.


Q8) What is a hash table, and how does it relate to dictionaries in Python
Answer: Hash is a function which used by dictionaries to store data in key and value manner, by using hash table function every key has unique and its value can be same or unique.


Q9) Can lists contain different data types in Python
Answer: Yes list can have string, integer, float or bolean value as data.


Q10) Explain why strings are immutable in Python
Answer: Because string is stored in memory block in organized and unchangeble structure to access each element by its index.


Q11) What advantages do dictionaries offer over lists for certain tasks
Answer: in Task like bifurcation of marks and subject, we can use key as subject and marks as value to generate more readable result over list it will have all data in one list or list in the list, but to access it will not be access as marks and subject to differentiate.


Q12) Describe a scenario where using a tuple would be preferable over a list
Answer: When we are working on a data of cities range of Killometer by diffrent cities we can not change there range but if we want to access it we can use multiple time to it as fixed data.


Q13) How do sets handle duplicate values in Python
Answer: Sets always show unique value by overwriting duplicate value.


Q14) How does the “in” keyword work differently for lists and dictionaries
Answer:in list we can use "in" keyword as operator to compress two diffrent list by zip function. and in dictionaries it can be use to chech the value of key are true or fales.

Q15) Can you modify the elements of a tuple? Explain why or why not
Answere: No we can not modify element in tiple bacause its immutable object.


Q16) What is a nested dictionary, and give an example of its use case
Answer:Nested dictionary is dictionary which have dictionary inside it by maintaining hiarchey of key value pair's. for example, you could use a nested dictionary to represent a company organizational chart, with departments as top-level keys and each department containing a dictionary of employee details as values.


Q17) Describe the time complexity of accessing elements in a dictionary
Answer: Don't know, need help


Q18) In what situations are lists preferred over dictionaries
Answere: where data is simple and no need to specify as key or value we use list for ex shopping list.

Q19) Why are dictionaries considered unordered, and how does that affect data retrieval
Answer: because its stored data in key and value pair formate, every key is unique and have unique value to access.

Q20) Explain the difference between a list and a dictionary in terms of data retrieval
Answere: When we want to acces data from list we can use indexing as to drive purticular data from index as they stored in list, but in dictionary data is stored i key value formate it will show indexing by key and will appear the value assinge to that index key.

In [10]:
#Write a code to create a string with your name and print it
name = "Kartik Raysing"
print(name)

Kartik Raysing

In [11]:
#Write a code to find the length of the string "Hello World"
name= "hello world"
len(name)

11

In [12]:
name = "Python Programming"
sliced_name = name[:3]
print(sliced_name)

Pyt

In [13]:
#Write a code to convert the string "hello" to uppercase
name = "hello"
uppercase_name = name.upper()
print(uppercase_name)

HELLO

In [14]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
name = "I like apple"
replaced_name = name.replace("apple", "orange")
print(replaced_name)

I like orange

In [15]:
##Write a code to create a list with numbers 1 to 5 and print it
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [5]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list= [1,2,3,4]
my_list.append (10)
print (my_list)

[1, 2, 3, 4, 10]

In [6]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1,2,3,4,5]
my_list.remove (3)
print (my_list)

[1, 2, 4, 5]

In [7]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
my_list[1]

'b'

In [10]:
#Write a code to reverse the list [10, 20, 30, 40, 50]
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [14]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [15]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
my_tuple = ('red', 'green' 'blue', 'yellow')
second_last_element = my_tuple[-2]
print(second_last_element)

greenblue

In [16]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

In [20]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

In [23]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
Fruit_list = ('apple', 'kiwi', 'orange')
if 'kiwi' in Fruit_list:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is in the tuple.

In [24]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [29]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [30]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [31]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
my_set_1 = {1, 2, 3}
my_set_2 = {3, 4, 5}
union = my_set_1.union(my_set_2)
print(union)

{1, 2, 3, 4, 5}

In [32]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
my_set_1 = {1,2,3}
my_set_2 = {2,3,4}
intersection = my_set_1.intersection(my_set_2)
print(intersection)

{2, 3}

In [33]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dictionary = {"name": "kartik", "age": "27", "city" : "pune"}
print(my_dictionary)

{'name': 'kartik', 'age': '27', 'city': 'pune'}

In [35]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dictionary = {'name': 'John','age': 25}
my_dictionary['country'] = 'USA'
print(my_dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [38]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dictionary = {'name' : 'Alice', 'age': 30}
name = my_dictionary['name']
print(name)

Alice

In [39]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dictionary = {'name' : 'Bob', 'age': 22, 'city' : 'New York'}
del my_dictionary['age']
print(my_dictionary)

{'name': 'Bob', 'city': 'New York'}

In [40]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dictionary = {'name': 'Alice','city': 'Paris'}
if 'city' in my_dictionary:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [49]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
#list
my_list = ['kiwi', 'apple', 1,2,3, 2.5]
print(my_list)
#tuple
my_tuple = ('kiwi', 'apple', 1,2,3,2.5)
print(my_tuple)
#Dictionary
my_dictionary = {'fruit': 'Apple', 'Number': '1,2,3', 'Float': '2.5'}
print(my_dictionary)

['kiwi', 'apple', 1, 2, 3, 2.5]
('kiwi', 'apple', 1, 2, 3, 2.5)
{'fruit': 'Apple', 'Number': '1,2,3', 'Float': '2.5'}

In [51]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
my_list = [14,78,85,45,56]
my_list.sort()
print(my_list)

[14, 45, 56, 78, 85]

In [53]:
#Write a code to create a list with strings and print the element at the third index.
my_list = ['kartik', 'pune', 'data anylytics', 'python', 'powerBI']
my_list[3]

'python'

In [59]:
#Write a code to combine two dictionaries into one and print the result.
my_dictionary_1 = {'Name': 'Kartik', 'City': 'Pune', 'Job': 'Data Anylytics'}
my_dictionary_2 = {'Skills': 'PowerBI', 'Rank': '11', 'Skill_2': 'Python'}
combined_dict = {**my_dictionary_1, **my_dictionary_2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'Name': 'Kartik', 'City': 'Pune', 'Job': 'Data Anylytics', 'Skills': 'PowerBI', 'Rank': '11', 'Skill_2': 'Python'}

In [60]:
#Write a code to convert a list of strings into a set.
my_list = ['kiwi', 'apple', 1,2,3, 2.5]
my_set = set(my_list)
print("Set of strings:", my_set)

Set of strings: {1, 2, 3, 2.5, 'kiwi', 'apple'}